<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - FreeText</title>
	<environment include="Development">
		<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
		<link rel="stylesheet" href="~/css/site.css" />
	</environment>
	<environment exclude="Development">
		<link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
			  asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
			  asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
		<link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
	</environment>
</head>
<body>
	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">FreeText</a>
			</div>
			<div class="navbar-collapse collapse pull-right">
				<ul class="nav navbar-nav">
					<li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
					<li><a asp-area="" asp-controller="Home" asp-action="About">About</a></li>
					<li><a asp-area="" asp-controller="Home" asp-action="Contact">Contact</a></li>
				</ul>
			</div>
		</div>
	</nav>
	<div class="container body-content">
		@RenderBody()
		<hr />
		<footer>
			<div class="row">
				<div class="col-md-4">
					<h2>FreeText</h2>
					<p>Add a Controller and View Manage User Secrets using Secret Manager.Use logging to log a message.Add packages using NuGet.Target development, staging or production environment.</p>
					<div id="widget_contact_info-2" class="widget widget_contact_info">
						<h6 class="widget-title"><span>Contact Information</span></h6>
						<p>MWebWare Software Services Pvt. Ltd.</p>
						<ul>
							<li class="address">Address: <span>H.No. 1-98/7/42, Jaihind Enclave, Madhapur, Hyderabad, Telangana - 500081, India.</span></li>
							<li class="phone">Phone: <span>(040) 29705578</span></li>
							<li class="email">Email: <span><a href="mailto:info@mwebware.com">info@mwebware.com</a></span></li>
							<li class="web">Web: <span>www.mwebware.com</span></li>
						</ul>
					</div>
				</div>
				<div class="col-md-4">
					<h2>Inportant Links</h2>
					<h5>Practice Set</h5>
					<ul style="list-style-type:square">
						<li><a href="#">Aptitute</a></li>
						<li><a href="#">Reasioning</a></li>
						<li><a href="#">English</a></li>
					</ul>
					<h5>Mock Test</h5>
					<ul style="list-style-type:square">
						<li><a href="#">Test1</a></li>
						<li><a href="#">Test2</a></li>
						<li><a href="#">Test3</a></li>
					</ul>
				</div>
				<div class="col-md-4">
					<h2></h2>
					<h5>Previous Year Question Paper</h5>
					<ul style="list-style-type:square">
						<li><a href="#">IBPS</a></li>
						<li><a href="#">Bank</a></li>
						<li><a href="#">PO</a></li>
						<li><a href="#">SSC</a></li>
						<li><a href="#">RRB</a></li>
					</ul>
				</div>
			</div>
			<p>&copy; 2018 - FreeText</p>
		</footer>




	</div>
	<environment include="Development">
		<script src="~/lib/jquery/dist/jquery.js"></script>
		<script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
		<script src="~/js/site.js" asp-append-version="true"></script>
	</environment>
	<environment exclude="Development">
		<script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
				asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
				asp-fallback-test="window.jQuery"
				crossorigin="anonymous"
				integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
		</script>
		<script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
				asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
				asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
				crossorigin="anonymous"
				integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
		</script>
		<script src="~/js/site.min.js" asp-append-version="true"></script>
	</environment>
	@RenderSection("Scripts", required: false)
</body>
</html>
